{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <h1 class="text-center">About Us</h1>
        <hr>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text text-justify">This is a online news website.We provide latest and trending 
                        news on this site. It is an easy setup and a brilliant way to grow your business and cut unnecessary marketing expenses.
                        Prime eCart is a brilliant way to connect with customers by bringing your brand’s 
                        story to life and presenting your products and services. This powerful online store builder
                        and shopping cart hosting system allows your customers to build e-commerce stores. This 
                        unique software includes integration with major domain registrars, as well as billing, 
                        account management, and help desk support.Prime E-cart focuses on selling, promoting, 
                        and providing all the tools needed for your business to be successful.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
