{% extends 'base.html' %} {% block content %}

<div class="p-4 bg-dark">
    <div class="row">
        <h1 class="text-center text-light display-6 font-monospace">About Us</h1>
        <hr>
        <div class="col">
            <div class="bg-dark">
                <div class="card-body">
                    <p class="card-text text-justify text-light">This is a online news website.We provide latest and trending 
                        news on this site. It is an easy setup and a  brilliant way to grow your business and cut unnecessary marketing expenses.
                        Prime eCart is a brilliant way to connect with customers by bringing your brand’s 
                        story to life and presenting your products and services. This powerful online store builder
                        and shopping cart hosting system allows your customers to build e-commerce stores. This 
                        unique software includes integration with major domain registrars, as well as billing, 
                        account management, and help desk support.Prime E-cart focuses on selling, promoting, 
                        and providing all the tools needed for your business to be successful. Our services ensure
                        that your customers keep coming back to you. Prime eCart is set to provide a turn-key
                        e-commerce solution with the goal to provide an easy to use e-Commerce platform with 
                        advanced functionalities.Prime eCart covers all aspects of creating an e-commerce 
                        presence for businesses, such as website creation and hosting, database management, 
                        search engine optimization, shopping cart functionality, merchant service solutions etc. 
                        With all that taken care of, you can just focus on the things that matter to you, like 
                        growing your businesseCart is a team of full-time Shopify Experts based in Atlanta, GA 
                        that have serviced over 400 Shopify stores worldwide. We work with clients to understand 
                        their individual needs, and provide solutions that help elevate the value of their brands.
                        As a Reseller, you share products listed on the prime E cart app either with your
                        network or on social media and earn a profit with every sale. There are 1 Lakh+ 
                        products on the app through which you can browse. 
                    
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
