{% extends 'base.html' %} {% block content %}

<div class="p-4 bg-dark">
    <div class="row">
        <h1 class="text-center text-light display-6 font-monospace">About Us</h1>
        <hr>
        <div class="col">
            <div class="bg-dark">
                <div class="card-body">
                    <p class="card-text text-justify text-light">This is a online news website.We provide latest and trending 
                        news on this site. t has taken a prominent position in the web market and quickly progressing to capture
                        the top slot. We also remain clung to the tree of journalistic ethics by serving the fresh news on the 
                        platter of absolute authenticity and our comments stand only as a guard so that all the users of our 
                        portal do not carried away from the truth.Our news persons are prompt in responding to any event by 
                        collecting first hand data. Personal interviews of concerned people of that event or incident reinforce 
                        the fabric of the information not to say our questionnaires are very yielding. We use world-class data 
                        and technology to publish independent reporting, rankings, journalism and advice that has earned the 
                        trust of our readers and users for nearly 90 years. Our platforms on usnews.com include Education, Health, 
                        Money, Travel, Cars, News and 360 Reviews. A social news website is a website that features user-posted 
                        stories. Such stories are ranked based on popularity, as voted on by other users of the site or by website
                        administrators. Users typically comment online on the news posts and these comments may also be ranked in
                        popularity. Since their emergence with the birth of Web 2.0, social news sites have been used to link many
                        types of information, including news, humor, support, and discussion. All such websites allow the users to
                        submit content and each site differs in how the content is moderated. On the Slashdot and Fark websites, 
                        administrators decide which articles are selected for the front page. On Reddit and Digg, the articles that 
                        get the most votes from the community of users will make it to the front page. Many social news websites 
                        also feature an online comment system, where users discuss the issues raised in an article. Some of these 
                        sites have also applied their voting system to the comments, so that the most popular comments are displayed 
                        first. Some social news websites also have a social networking service, in that users can set up a user 
                        profile and follow other users' online activity on the website. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
