{% extends "base.html" %} {% block content %}

<section class="bg-dark">
  <div class="p-4">
    <div class="row">
        <div class="col">
            <h1 class="text-center bg-dark text-light display-6 font-monospace">News Categories</h1>
            <hr>
        </div>
    </div>
    <div class="row">
      <div class="col p-4">

            <div class="card bg-black m-4 ">
              <div class="card-body link-primary text-center">
                <p> 
                <li><a  href="{% url 'core:lateststory_list' %}">Latest stories</a></li>
                </p>
              </div>
            </div>
            <div class="card bg-black m-4 ">
              <div class="card-body link-primary text-center">
                  <p> 
                    <li><a  href="{% url 'core:topstory_list' %}">Top stories</a></li>
                  </p>
              </div>
            </div>
            <div class="card bg-black m-4 ">
              <div class="card-body link-primary text-center">
                  <p> 
                    <li><a  href="{% url 'core:sport_list' %}">Sports</a></li>
                  </p>
              </div>
            </div>
            <div class="card bg-black m-4 ">
              <div class="card-body link-primary text-center">
                  <p> 
                    <li><a  href="{% url 'core:education_list' %}">Education</a></li>
                  </p>
              </div>
            </div>
            <div class="card bg-black m-4 ">
              <div class="card-body link-primary text-center">
                  <p> 
                    <li><a  href="{% url 'core:topwriter_list' %}">Top Writers</a></li>
                  </p>
              </div>
            </div>
           
      </div>
    </div>
  </div>
</section>
{% endblock content %}