{% extends 'base.html' %} {% block content %}
<section>
<div class="bg-dark">
    <div class="row g-3 m-4">
        <h1 class="text-center text-light">Local</h1>
        <hr>
        <div class="col m-4 ">
            <div class="btn">
                <div class="card-body card-text text-light btn btn-danger">
                     National
                </div>
                <div class="card-body card-text text-light btn btn-danger">
                    InterNational
                </div>
                <div class="card-body card-text text-light btn btn-danger">
                    World
                </div>
                <div class="card-body card-text text-light btn btn-danger">
                    Countries
                </div>
                <p>
                    <div class="card-body card-text text-light btn btn-danger" >
                      India
                    </div>
                    <div class="card-body card-text text-light btn btn-danger">
                      States
                    </div>
                    <div class="card-body card-text text-light btn btn-danger">
                      Kerala
                    </div>
                    <div class="card-body card-text text-light btn btn-danger">
                       Cities
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
<hr/>
</section>
{% endblock content %}
