{% extends 'base.html' %} {% block content %}
<section>
<div class="py-3 bg-dark">
    <div class="row g-3 ">
        <h1 class="text-center text-light  display-6 font-monospace">Local</h1>
        <hr>
        <div class="col m-4 ">
            <div class="card bg-dark">
                <div class="card-body card-text text-light text-center bg-black">
                    National
                </div>
                <p><div class="card-body card-text text-light text-center bg-black">
                    InterNational
                </div></p>
                <p><div class="card-body card-text text-light text-center bg-black">
                    World
                </div></p>
                <div class="card-body card-text text-light text-center bg-black">
                    Countries
                </div>
                <p>
                    <div class="card-body card-text text-light text-center bg-black" >
                      India
                    </div>
                </p>
                <p>
                    <div class="card-body card-text text-light text-center bg-black">
                      States
                    </div>
                </p>
                <p>
                    <div class="card-body card-text text-light text-center bg-black">
                      Kerala
                    </div>
                </p>
                <p>
                    <div class="card-body card-text text-light text-center bg-black">
                       Cities
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

</section>
{% endblock content %}
