{% extends 'base.html' %} {% block content %}
<section>
<div class="bg-dark">
    <div class=" g-3 m-4">
        <h1 class="text-center bg-dark text-light">Notifications</h1>
        <hr>
        <div class="m-4 ">
            <div class="btn">
                <p>
                    <div class="text-light btn btn-danger col-10 ">
                      Latest
                    </div>
                    
                </p>
                <p>
                    <div class="text-light btn btn-danger col-10">
                      Topstory
                    </div>
                </p>
                <p>
                    <div class=" text-light btn btn-danger col-10">
                       Sports
                    </div>
                </p>
                <p>
                    <div class=" text-light btn btn-danger col-10">
                       Education
                    </div>
                </p>
                <p>
                    <div class=" text-light btn btn-danger col-10" >
                      India
                    </div>
                </p>
                <p>
                    <div class=" text-light btn btn-danger col-10">
                      States
                    </div>
                </p>
                <p>
                    <div class=" text-light btn btn-danger col-10">
                      Kerala
                    </div>
                </p>
                <p>
                    <div class=" text-light btn btn-danger col-10">
                       Cities
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
<hr/>
</section>
{% endblock content %}
