<!DOCTYPE html>
<html lang="en">
<head>
  <title>News|</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container bg-dark">
  <h2>Search</h2>
  <p>Type something </p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <ul class="list-group" id="myList">
    <li class="list-group-item" href="{% url 'core:lateststory_list' %}">Latest Story</li>
    <li class="list-group-item" href="{% url 'core:topwriter_list' %}">Top Writer</li>
    <li class="list-group-item" href="{% url 'core:topstory_list' %}">Top Story</li>
    <li class="list-group-item" href="{% url 'core:sport_list' %}">Sports</li>
    <li class="list-group-item" href="{% url 'core:education_list' %}">Education</li>
  </ul>  
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>