<nav class="navbar navbar-expand-lg nav text-primary sticky-top `" style="background-color: #0b0a25;">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="{% url 'core:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'core:about_us' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'core:search' %}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'core:feedback_create' %}"
            >Feedback</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'core:category_list' %}">Category</a>
        </li>


        <!-- bookmark -->
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Bookmark
            <span class="badge rounded-pill text-bg-danger"
              >{{bookmark.posts.count}}</span
            >
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item d-flex justify-content-between fw-bold">
              <span>Post</span>
              <!-- <span>Qty</span> -->
            </li>
            {% for post in bookmark.posts %}
            <li class="dropdown-item d-flex justify-content-between">
              <a
                class="link-primary"
                href="{% url 'core:lateststory_detail' post.lateststory.id %}"
              >
                {{post.lateststory}}
              </a>
              <!-- <span class="fw-bold">{{post.quantity}}</span> -->
            </li>
            {% empty %}
            <li>Nothing Found!</li>
            {% endfor %}
           
          </ul>
        </li>
        {% endif %}
      </ul>
      </ul>
      <!-- search -->
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success text-light" type="submit"></a>Search</button>
      </form>
      <!-- user -->
      <form>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <i class="fa fa-user" aria-hidden="true"></i>

          </a>
          <ul class="dropdown-menu">
                        
            <li><a class="dropdown-item" href="{% url 'core:profile' %}">Profile</a></li>
            <hr/>
            <li><a class="dropdown-item" href="{% url 'core:dashboard' %}">Dashboard</a> </li>

          </ul>
        </li>
      </form>
      <!-- payment -->
      <form>
        <li class="nav-item dropdown">
          <a
            class="nav-link text-light"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <i class="fa-solid fa-crown" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu">          
            <li><a class="dropdown-item" href="#">Premium</a></li>
          </ul>
        </li>
      </form>
      <!-- settings -->
      
      <form>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars text-light " aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu">
            <div class="list-group">
              <a class="list-group-item" href="{% url 'core:home' %}">
                <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
            </div>
            <div  class="list-group">
              <a class="list-group-item" href="{% url 'core:profile' %}">
                <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;Profile</a>
            </div>
            <div  class="list-group">
              <a class="list-group-item" href="#">
                <i class="fa-solid fa-crown fa-fw" aria-hidden="true"></i>&nbsp;Premium</a>
            </div>
            <div  class="list-group">
              <a class="list-group-item" href="{% url 'core:topwriter_list' %}">
                <i class="fa-solid fa-pen fa-fw" aria-hidden="true"></i>&nbsp;Top Writers</a>
            </div>
            <div  class="list-group">
              <a class="list-group-item" href="{% url 'core:lateststory_list' %}">
                <i class=" fa-fw" aria-hidden="true"></i>Latest stories</a>
            </div>
            <div  class="list-group">
              <a class="list-group-item" href="{% url 'core:sport_list' %}">
                <i class=" fa-fw" aria-hidden="true"></i>Sports</a>
            </div>
            <div  class="list-group">
              <a class="list-group-item" href="{% url 'core:education_list' %}">
                <i class=" fa-fw" aria-hidden="true"></i>Education</a>
            </div>
            <!-- <li><a class="dropdown-item" href="{% url 'core:local' %}">Local</a></li> -->
            <div  class="list-group">
              <a class="list-group-item" href="{% url 'core:feedback_create' %}">
                <i class=" fa-fw" aria-hidden="true"></i>Feedback</a>
              <a class="list-group-item" href="{% url 'core:about_us' %}">
                  <i class=" fa-fw" aria-hidden="true"></i>About us</a>
            </div>
          </ul>
        </li> 
      </form>
      
    </div>
  </div>
</nav>