<nav class="navbar navbar-expand-lg nav " style="background-color: #eb9598;">
  <div class="container-fluid">
    <a class="navbar-brand " href="#">News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'core:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:feedback_create' %}"
            >Feedback</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:category_list' %}">Category</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Latest
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'core:lateststory_list' %}"
                >Latest stories</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'core:lateststory_create' %}"
                >Create Lateststory</a
              >
            </li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'core:topstory_list' %}">Top Stories</a></li>
            <li><a class="dropdown-item" href="{% url 'core:sport_list' %}">Sports</a></li>
            <li><a class="dropdown-item" href="{% url 'core:education_list' %}">Education</a></li>
            <li><a class="dropdown-item" href="#">Entertainment</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'core:topstory_create' %}">Create Top Story</a></li>
            <li><a class="dropdown-item" href="{% url 'core:sport_create' %}">Create Sports</a></li>
            <li><a class="dropdown-item" href="#">Create Education</a></li>
            <li><a class="dropdown-item" href="#">Create Entertainment</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {% if user.is_authenticated %} 
            {{user}} 
            {% else %}
            Account 
            {% endif %}
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item" href="{% url 'user:user_logout' %}"
                >Logout</a
              >
            </li>
            {% else %}
            <li>
              <a class="dropdown-item" href="{% url 'user:user_login' %}"
                >Login</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'user:user_signup' %}"
                >Signup</a
              >
            </li>
            {% endif %}
          </ul>
        </li>

        <!-- bookmark -->
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Bookmark
            <span class="badge rounded-pill text-bg-danger"
              >{{bookmark.posts.count}}</span
            >
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item d-flex justify-content-between fw-bold">
              <span>Post</span>
              <!-- <span>Qty</span> -->
            </li>
            {% for post in bookmark.posts %}
            <li class="dropdown-item d-flex justify-content-between">
              <a
                class="link-primary"
                href="{% url 'core:lateststory_detail' post.lateststory.id %}"
              >
                {{post.lateststory}}
              </a>
              <!-- <span class="fw-bold">{{post.quantity}}</span> -->
            </li>
            {% empty %}
            <li>Nothing Found!</li>
            {% endfor %}
            
          </ul>
        </li>
        {% endif %}
      </ul>

        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <form>
        <li class="nav-item">
          <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'core:home' %}">Home</a></li>
            <li><a class="dropdown-item" href="{% url 'core:lateststory_list' %}">Latest stories</a></li>
            <li><a class="dropdown-item" href="{% url 'core:topstory_list' %}">Top stories</a></li>
            <li><a class="dropdown-item" href="{% url 'core:sport_list' %}">Sports</a></li>
            <li><a class="dropdown-item" href="{% url 'core:education_list' %}">Education</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Bookmark</a></li>
            <li><a class="dropdown-item" href="{% url 'core:local' %}">Local</a></li>
            <li><a class="dropdown-item" href="{% url 'core:notification' %}">Notifications</a></li>
            <hr/>
            <li><a class="dropdown-item" href="{% url 'core:feedback_create' %}">Feedback</a></li>
            <li><a class="dropdown-item" href="{% url 'core:about_us' %}">About us</a></li>
          </ul>
        </li> 
      </form>
    </div>
  </div>
</nav>