{% extends 'base.html' %}{% block content %}
<section class="py-5">
  <div class="bg-dark">
    <div class="row">
      <div class="col">
        <h2 class="text-center text-light">Sports</h2>
        <hr />
      </div>
    </div>

    <div class="row row-cols-lg-3 g-3 m-4">
      {% for sport in sports %}
      <div class="col">
        <div class="card bg-black text-light">
          <img src="{{sport.image.url}}" class="card-img-top" alt="..." height="200px" />
          <div class="card-body">
            <h5 class="card-title fw-bold">
              <a
                href="{% url 'core:sport_detail' sport.id %}"
                class="link-danger"
                >{{sport.name}}</a
              >
            </h5>
            
            <p class="card-text overflow-hidden" style="height: 50px;">Description: {{sport.description}}</p>
            <!-- categories -->
            <div>
              <p class="card-text">Categories</p>
              <ul>
                {% for category in sport.category.all %}
                <li>{{category}}</li>
                {% endfor %}
              </ul>
            </div>
            <!-- <p class="card-text">Category: {{sport.category}}</p> -->
            <p class="card-text text-muted fst-italic">
              News updated: {{sport.updated_on|date}}
            </p>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col">
        <p>no sports found</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}