{% extends 'base.html' %} {% block content %}

<div>
  <div class="row">
    <div class="col">
      <h1 class="text-center bg-dark text-light">Top Writers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        src="{{topwriter.image.url}}"
        class="img img-thumnail"
        width="100%"
        alt=""
      />
    <!-- </div> -->
    <div class="col">
      <div class="bg-black text-light text-justify">
        <div class="card-body">
          <h4 class="card-title text-center py-3">{{topwriter.name}}</h4>
          
          <div class="rating-container">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          
          <p class="card-text py-3 m-4">{{topwriter.description}}</p>
          <div class="text-right">
            <i class="fa-regular fa-thumbs-up"></i>
            
            <i class="fa fa-commenting" aria-hidden="true"></i>
            
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
